@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


/* Disable overscroll flash globally */

body.light {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

body.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

html,
body {
  overscroll-behavior: none;
}

/* Optional: smoother scrolling on iOS */
* {
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: var(--color-background); ;
  font-family: Vazirmatn, Arial, Helvetica, sans-serif;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
